/* .ant-upload.ant-upload-select-picture-card {
  width: 780px !important;
  height: 524px!important;
  border-width: 2px;
}

.ant-row.ant-form-item .ant-form-item-label {
  width: 100%;
  text-align: left;
}
.btn {
  width: 167px;
  height: 45px !important;
  font-weight: 500;
  border-radius: 2px !important;
  border: none !important;
}

.btn-back {
  background-color: #f2f2f2 !important;
  color: #2c3e50 !important;
  font-weight: 500 !important;
  margin-right: 1rem;
}

.btn-submit {
  background-color: var(--main-color) !important;
  color: #fff !important;
  margin-left: 1rem;
}

.section_name_input,
.ant-picker {
  border: none !important;
  background-color: #f2f2f2 !important;
  border-radius: 2px !important;
  height: 32px !important;
}
label {
  color: #828282 !important;
  font-weight: 500;
}

form {
  display: flex !important;
  justify-content: space-between;
  flex-wrap: wrap !important;
}

.ant-modal-content {
  border-radius: 10px !important;
}

.ant-modal-header {
  border-radius: 10px 10px 0 0 !important;
  background: #f2f2f2 !important;
  font-weight: 600;
  height: 44px;
  padding: 0.5rem 1.5rem !important;
}

.modal_title {
  font-weight: 600;
}

.ant-select-selector {
  border: none !important;
  background-color: #f2f2f2 !important;
  border-radius: 2px !important;
  height: 32px !important;
  align-items: center;
  font-weight: 500;
}
.ant-select {
  width: 100% !important;
  margin-bottom: 1rem;
}

.ant-modal-mask {
  background: rgba(44, 62, 80, 0.5) !important;
  backdrop-filter: blur(15px);
}

.modal_content {
  height: 640px!important;
  margin: 00px 25px 0px 25px !important;
}
.form_submit {
  margin-top: 10px;
}
.ant-picker-input {
  margin: 0!important;
  padding: 0!important;
}

.form_group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0rem;
} */


/* =====================
 */

 .ant-upload.ant-upload-select-picture-card {
  width: 100% !important;
  height: 74px;
  border-width: 2px;
}

.ant-row.ant-form-item .ant-form-item-label {
  width: 100%;
  text-align: left;
}
.btn {
  width: 167px;
  height: 45px !important;
  font-weight: 500;
  border-radius: 2px !important;
  border: none !important;
}

.btn-back {
  background-color: #f2f2f2 !important;
  color: #2c3e50 !important;
  font-weight: 500 !important;
  margin-right: 1rem;
}

.btn-submit {
  background-color: var(--main-color) !important;
  color: #fff !important;
  margin-left: 1rem;
}

.section_name_input,
.ant-picker {
  border: none !important;
  background-color: #f2f2f2 !important;
  border-radius: 2px !important;
  height: 32px !important;
}
label {
  color: #828282 !important;
  font-weight: 500;
}

form {
  display: flex !important;
  justify-content: space-between;
  flex-wrap: wrap !important;
}

.ant-modal-content {
  border-radius: 10px !important;
}

.ant-modal-header {
  border-radius: 10px 10px 0 0 !important;
  background: #f2f2f2 !important;
  font-weight: 600;
  height: 44px;
  padding: 0.5rem 1.5rem !important;
}

.modal_title {
  font-weight: 600;
}

.ant-select-selector {
  border: none !important;
  background-color: #f2f2f2 !important;
  border-radius: 2px !important;
  height: 32px !important;
  align-items: center;
  font-weight: 500;
}
.ant-select {
  width: 100% !important;
  margin-bottom: 1rem;
}

.ant-modal-mask {
  background: rgba(44, 62, 80, 0.5) !important;
  backdrop-filter: blur(15px);
}

.ant-modal-body {
  padding: 2.5rem !important;
}

.form_group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
}
